<div>
  <app-navbar [(title)]="title" (showSidebar)="toggleSidebar()" (share)="hello($event)"></app-navbar>
  <mat-sidenav-container [ngStyle]="{top: this.top}" class="min-vh-100" autosize [hasBackdrop]="hasBackdrop">
    <mat-sidenav [ngStyle]="{top: this.top}" [class.mobile-only]="!desktop" [class.desktop]="desktop"
                 style="min-width: 240px;" [mode]="sidebarMode"
                 [opened]="sidebarActivate">
      <mat-nav-list>
        <a mat-list-item routerLink="search" (click)="redirect.emit(null);">
          <mat-icon mat-list-icon>search</mat-icon>
          검색하기
        </a>
        <a mat-list-item routerLink="add/price" (click)="redirect.emit(null);">
          <mat-icon mat-list-icon>attach_money</mat-icon>
          가격 추가하기
        </a>
        <a mat-list-item routerLink="add/alcohol" (click)="redirect.emit(null);">
          <mat-icon mat-list-icon>add_circle</mat-icon>
          주류 추가하기
        </a>
        <a mat-list-item routerLink="/calculate" (click)="redirect.emit(null);">
          <mat-icon mat-list-icon>calculate</mat-icon>
          계산하기
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container w-100">
        <router-outlet class="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
