<mat-card class="mt-4">
  <mat-stepper class="col-12" orientation="vertical" linear #stepper>
    <mat-step [stepControl]="firstFormGroup" label="db에 존재하지 않는 주류 추가">
      <form class="row" [formGroup]="firstFormGroup">
        <ng-template matStepLabel>이름 정보 입력</ng-template>
        <mat-form-field class="col-6" appearance="standard">
          <mat-label>이름</mat-label>
          <input matInput formControlName="nameControl" [matAutocomplete]="alcoholName" placeholder="ex) 글랜피딕 12년">
          <mat-autocomplete autoActiveFirstOption #alcoholName="matAutocomplete" (optionSelected)="selectKoreanName($event.option.value)">
            <mat-option *ngFor="let option of nameFilter | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="col-6" appearance="standard">
          <mat-label>영문 이름</mat-label>
          <input matInput formControlName="englishNameControl" [matAutocomplete]="alcoholEnglishName" placeholder="ex) Glenfiddich 12y">
          <mat-autocomplete autoActiveFirstOption #alcoholEnglishName="matAutocomplete" (optionSelected)="selectEnglishName($event.option.value)">
            <mat-option *ngFor="let option of englishNameFilter | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div>
          <button color="primary" (click)="onUpdateFirstGroup($event)" mat-button matStepperNext>다음</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form class="row" [formGroup]="secondFormGroup">
        <ng-template matStepLabel>추가 정보 입력</ng-template>
        <mat-form-field [ngClass]=" secondFormGroup.get('categoryControl')!.value =='위스키' ? 'col-9' : 'col-12'" appearance="standard">
          <mat-label>카테고리</mat-label>
          <mat-select formControlName="categoryControl" required>
            <mat-option *ngFor="let option of alcoholCategory" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf=" secondFormGroup.get('categoryControl')!.value == '위스키'" class="col-3" appearance="standard">
          <mat-label>숙성 기간</mat-label>
          <input matInput type="number" formControlName="ageControl" required>
        </mat-form-field>
        <mat-form-field class="col-6" appearance="standard">
          <mat-label>카테고리 2</mat-label>
          <input matInput formControlName="detailedCategoryControl">
        </mat-form-field>
        <mat-form-field class="col-6" appearance="standard">
          <mat-label>도수</mat-label>
          <input matInput type="number" formControlName="degreeControl" placeholder="40" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>이전</button>
          <button color="primary" (click)="onUpdateSecondGroup($event)" mat-button matStepperNext>다음</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form class="row" [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>기타</ng-template>
        <mat-form-field class="col-12" appearance="standard">
          <mat-label>사진</mat-label>
          <input matInput formControlName="imageUrlControl">
        </mat-form-field>
        <mat-form-field class="col-12" appearance="standard">
          <mat-label>설명</mat-label>
          <textarea matInput formControlName="descriptionControl"></textarea>
        </mat-form-field>
        <p>기타</p>
        <div>
          <button mat-button matStepperPrevious>이전</button>
          <button mat-button (click)="submit()">등록하기</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
  <app-alcohol-small [alcohol]="output">
  </app-alcohol-small>
</mat-card>
