
.mix-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  float: right;
  z-index: 150;
}


.mix-wrapper-2nd {
  position: fixed;
  bottom: 6em;
  right: 1em;
  float: right;
  z-index: 150;
}
