<mat-tab-group [(selectedIndex)]="tabIndex">
  <mat-tab label="이름으로 검색">
    <app-searchbar (searched)="search($event)"></app-searchbar>
    <a routerLink="/alcohol/{{single.uuid}}" *ngFor="let single of alcohols">
      <app-alcohol-small [alcohol]="single">
      </app-alcohol-small>
    </a>
  </mat-tab>
  <mat-tab label="카테고리로 검색">
    <app-searchbar-category (searched)="searchCategory($event)"> </app-searchbar-category>
    <a routerLink="/alcohol/{{single.uuid}}" *ngFor="let single of alcohols">
    <app-alcohol-small [alcohol]="single">
    </app-alcohol-small>
    </a>
  </mat-tab>

  <mat-tab label="상점 이름으로 검색"></mat-tab>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</mat-tab-group>
