<mat-form-field class="w-100" appearance="standard">
  <mat-label>주류</mat-label>
  <input type="text"
         placeholder="이름을 입력해주세요"
         aria-label="카테고리"
         matInput
         [formControl]="myControl"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="search($event.option.value)">
    <mat-optgroup label="분류">
      <mat-option *ngFor="let option of filteredCategory | async" [value]="option.category[0]">
        {{option.category[0]}}
      </mat-option>
    </mat-optgroup>
    <mat-optgroup label="상세 분류">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.category[1]">
        {{option.category[1]}}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>
