<mat-card *ngIf="alcohol" >
  <mat-card-header style="margin-left: -16px;">
    <mat-card-title [innerText]="alcohol.name"></mat-card-title>
    <mat-card-subtitle [innerText]="alcohol.englishName"></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-12 col-md-6 mt-auto mb-auto">
        <img mat-card-image class="img-fluid" [src]="alcohol.image" [alt]="alcohol.name">
      </div>
      <div class="col-12 col-md-6 mt-auto mb-auto">
        <app-price-table [price]="alcohol.storePrices"></app-price-table>
      </div>
    </div>
    <p class="mt-4" [innerText]="alcohol.description"></p>
    <p class="text-black-50">{{ alcohol.degree }}% / {{ alcohol.amount }}ml</p>
  </mat-card-content>
</mat-card>
